################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QUẢN LÝ BÁN HÀNG/.vs/QUẢN LÝ BÁN HÀNG/FileContentIndex
